# Azure Pipeline YAML para Build e Testes - Aprenda+
# Pipeline de CI/CD baseado na estrutura do MotoVision

trigger:
  branches:
    include:
      - master
      - main

pr:
  branches:
    include:
      - master
      - main

pool:
  vmImage: ubuntu-latest

variables:
  javaVersion: "21"

stages:
  - stage: BuildAndTest
    displayName: Build and Test
    jobs:
      - job: Build
        displayName: Gradle Build
        steps:
          - checkout: self
            displayName: Checkout repository

          - task: JavaToolInstaller@0
            displayName: "Set up JDK"
            inputs:
              versionSpec: "$(javaVersion)"
              jdkArchitectureOption: "x64"
              jdkSourceOption: "PreInstalled"

          - script: chmod +x gradlew
            displayName: "Make gradlew executable"
            condition: eq(variables['Agent.OS'], 'Linux')

          - task: Gradle@3
            displayName: "Gradle clean build test"
            inputs:
              workingDirectory: ""
              gradleWrapperFile: "gradlew"
              tasks: "clean build test"
              publishJUnitResults: true
              testResultsFiles: "**/TEST-*.xml"
              javaHomeOption: "JDKVersion"
              jdkVersionOption: "1.21"
              jdkArchitectureOption: "x64"

          - task: PublishTestResults@2
            displayName: "Publicar resultados de testes"
            condition: always()
            inputs:
              testResultsFormat: "JUnit"
              testResultsFiles: "**/TEST-*.xml"

          - task: PublishBuildArtifacts@1
            displayName: "Publicar artefatos"
            condition: succeededOrFailed()
            inputs:
              pathToPublish: "$(System.DefaultWorkingDirectory)/build/libs"
              artifactName: "aprenda-plus-jar"
              publishLocation: "Container"
